.App {
  text-align: center;
  font-family: "Helvetica"
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*  Main Page Stylings  */

.jumbotron {
  width: 100%;
}

.col-sm-4.ani {
  border: 5px solid black;
  padding: 30px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#submitButton {
  margin-top: 20px;
}


/*   Profile Page Stylings   */

.jumbotron.text-center.profile-page {
  padding: 10px;
}

.typeselect {
  width: 200px;
  font-size: 20px;
}

.form-control {
  border: 1px solid black;
}

.list-group.monthly {
  margin-left: 20px;
}

.col-sm-6.new-expense {
  background-color: orange;
}

.col-sm-6.add-new {
  font-size: 25px;
  margin: 0 auto;
}

.container.category-view {
  overflow: scroll !important;
  max-height: 300px;
  margin-top: 30px; 
}

#signupform {
  background-color: white;
  margin-left: 65px;
}

.left {
  margin-left: 20px;
  float:left;
}


input {
  height: 40px;
  margin-top: 15px;
}

#submitting {
  margin-left: 80px;
  margin-top: 40px;
}

.right {
  float:right;
}

.list-group-item.active {
  background-color: #444444
}

button:focus {
  outline: none;
}

#Month {
  font-size: 25px;
}

#date {
  font-size: 15px;
}

.list-group.monthly {
  max-height: 150px;
}

.container.form {
  text-align: center;
}

.row {
  text-align: center;
}

.jumbotron.text-center.profile-page.table-dark {
  background-color: #444444;
  color: white;
  font-size: 10px;
}

div {
  overflow-x: hidden;
  font-size: 20px;
}

input {
  font-size: 15px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


